
/**
 * name: Fantastic-admin
 * homepage: https://hooray.gitee.io/fantastic-admin/
 */
    
.notfound[data-v-79782c7a]{display:flex;align-items:center;justify-content:space-between;width:700px;position:absolute;left:50%;top:50%;transform:translate(-50%) translateY(-50%)}.notfound .svg-icon[data-v-79782c7a]{width:400px;height:400px}.notfound .content h1[data-v-79782c7a]{margin:0;font-size:72px;color:#303133}.notfound .content .desc[data-v-79782c7a]{margin:20px 0 30px;font-size:20px;color:#606266}
