
/**
 * name: Fantastic-admin
 * homepage: https://hooray.gitee.io/fantastic-admin/
 */
    
.demo i[data-v-2809a85b]{color:#606266;margin:0 20px;font-size:1.5em;vertical-align:middle}.demo button[data-v-2809a85b]{margin:0 20px}.list-icon[data-v-2809a85b]{display:inline-block;font-size:32px;color:#606266;margin:10px}
